.formikForm textarea:focus, 
.formikForm input:focus {
    outline: none;
}

.formikForm {
    text-align: center;
    font-family: Arial, sans-serif;
}

.formikForm input {
    margin-bottom: 5px;
    font-size: 16px;
    width: 100%;
    height: 1.5em;
    padding: 2px 5px;
    box-sizing: border-box;
}

.formikForm textarea {
    font-size: 18px;
    padding: 5px;
    height: 6em;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.buttonArea {
    position: relative;
}

.preloader {
    position: absolute;
    top: 17%;
    right: 30%;
}