.button {
    font-size: 22px;
    margin: 25px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    background-color: white;
}

.isDisabled:hover {
    transform: none;
    cursor: not-allowed;
    background-color: buttonface;
}