.biography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.biography img {
  width: 25%;
  margin: 10px;
  margin-top: 18px;
  border-radius: 10px;
  float: left;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  margin-bottom: 30px;
  background: radial-gradient(rgb(13, 12, 26) 30%, rgb(169, 169, 169, 0.4));
  border-radius: 10px;
}

.biographyBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.description {
  padding: 0 20px;
}

.description h2 {
  font-weight: normal;
  font-size: 1.3em;
  text-align: center;
}

.description p {
  text-indent: 20px;
  text-align: justify;
  line-height: 1.5em;
  font-size: 0.95em;
}

@media (max-width: 1117px) {
  .biography img {
    width: 33%;
  }
  .description {
    padding: 0 10px;
  }
}

@media (max-width: 700px) {
  .biography img {
    width: 40%;
  }
}

@media (max-width: 667px) {
  .biography img {
    width: 50%;
    float: none
  }
  .description {
    text-align: center;
  }
  .description p {
    font-size: 0.9em;
  }
}

@media ( max-width: 400px ) {
  .description p {
    font-size: 0.8em;
  }
}
