.mySkill {
  width: 300px;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.theme_blue {
  border-color: rgb(27, 212, 252);
}

.theme_darkRed {
  border-color: rgb(247, 2, 168);
}

.theme_green {
  border-color: rgb(48, 254, 118);
}

.theme_maroon {
  border-color: rgb(255, 0, 237);
}

.theme_violet {
  border-color: rgb(186, 138, 255);
}


@media ( max-width: 829px) {
  .mySkill {
    margin: 10px 0;
    width: 60%
  }
}

@media ( max-width: 599px) {
  .mySkill {
    width: 80%
  }
}

@media ( max-width: 460px) {
  .mySkill {
    width: 100%
  }
}

.technology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technology img {
  height: 120px;
}

.technology span {
  font-size: 25px;
}

.description {
  font-family: "Montserrat", sans-serif;
  margin: 5px;
  color: white;
}