.button {
    font-size: 22px;
    margin: 25px;
    padding: 7px;
    border-radius: 10px;
}

.button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background-color: greenyellow;
  }