.settingsMenu {
    position: absolute;
    top: 41px;
    left: 0;
    background-color: #3f3a44;
    border: 1px solid white;
    border-radius: 5px;
}

@media( max-width: 363px) {
    .settingsMenu {
        top: 49px;
    }
}

.settingsMenu:hover, 
.settingsMenu:focus {
    outline: none;
}

.buttonsBlock {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    color: white;
}

.buttonsBlock button {
    border-radius: 15px;
}

.langSelect {
    display: flex;
    border-right: 1px solid;
    margin-left: 5px;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
}

.langSelect span {
    cursor: pointer;
}

.displayStyle {
    display: flex;
    padding: 5px 5px;
    margin: auto 0;
    margin-right: 5px;
    border: 1px solid;
    border-radius: 5px;
}

.displayStyle a {
    text-decoration: none;
    color: white;
}

.buttonsBlock span:first-child {
    padding-right: 5px;
    border-right: 2px solid;
}

.buttonsBlock span:last-child {
    padding-left: 5px;
}

.buttonsBlock span::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin: .1em auto;
}

.theme_blue span:hover::after,
.theme_blue span.active::after {
  background-color: rgb(27, 212, 252);
}

.theme_darkRed span:hover::after,
.theme_darkRed span.active::after {
  background-color: rgb(247, 2, 168);
}

.theme_green span:hover::after,
.theme_green span.active::after {
  background-color: rgb(48, 254, 118);
}

.theme_maroon span:hover::after,
.theme_maroon span.active::after {
  background-color: rgb(255, 0, 237);
}

.theme_violet span:hover::after,
.theme_violet span.active::after {
  background-color: rgb(186, 138, 255);
}


/* ---------- choose colorTheme panel--------------- */

.colorTheme {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.colorButton {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    padding: 1px;
}

.colorTheme *:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    border: 1px solid white;
    padding: 0;
}

.blue {
    background-color: rgb(27, 212, 252);
}

.darkRed {
    background-color: rgb(200, 0, 139);
}

.green {
    background-color: rgb(48, 254, 118);
}

.maroon {
    background-color: rgb(255, 0, 237);
}

.violet {
    background-color: rgb(166, 104, 255);
    margin: 0;
}