.settingsMenu {
    position: absolute;
    top: 42px;
    left: 0;
    background-color: #3f3a44;
    border: 1px solid white;
    border-radius: 3px;
}

.hideMenu {
    display: none;
}

.dispayMode {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    padding: 10px;
}

.colorTheme {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.htmlButton {
    background-color: #f0f0f0;
    padding: 0 5px;
    margin-right: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.spaButton {
    background-color: #f0f0f0;
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.colorButton {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    padding: 1px;
}

.dispayMode *:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.colorTheme *:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    border: 1px solid white;
    padding: 0;
}

.blue {
    background-color: rgb(27, 212, 252);
}

.darkRed {
    background-color: rgb(200, 0, 139);
}

.lightGreen {
    background-color: rgb(169, 254, 68);
}

.maroon {
    background-color: rgb(255, 0, 237);
}

.violet {
    background-color: rgb(166, 104, 255);
    margin: 0;
}