.settingsMenu {
    position: absolute;
    top: 41px;
    left: 0;
    background-color: #3f3a44;
    border: 1px solid white;
    border-radius: 3px;
}

.settingsMenu:hover,
.settingsMenu:focus {
    outline: none;
}

.hideMenu {
    display: none;
}

.dispayMode {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    padding: 10px;
}

.dispayMode > * {
    background-color: #f0f0f0;
    width: 45px;
    padding: 0 5px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.dispayMode *:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.colorTheme {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.colorButton {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    padding: 1px;
}

.colorTheme *:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    border: 1px solid white;
    padding: 0;
}

.blue {
    background-color: rgb(27, 212, 252);
}

.darkRed {
    background-color: rgb(200, 0, 139);
}

.green {
    background-color: rgb(48, 254, 118);
}

.maroon {
    background-color: rgb(255, 0, 237);
}

.violet {
    background-color: rgb(166, 104, 255);
    margin: 0;
}