.main {
  background-color: rgb(255, 213, 122);
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main img {
  width: 250px;
  max-width: 70%;
  margin: 10px;
}

.container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
}

.greeting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}


.greeting span {
  text-align: center;
}

.greeting span:nth-child(2) {
  margin: 0 10px;
}

@media ( max-width: 932px ) {
  .greeting {
    flex-direction: column;
  }
  .greeting span {
    margin: 0;
  }
}