.skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 80%;
  margin-bottom: 30px;
  padding: 0 5px;
  background: radial-gradient(rgb(13, 12, 26) 30%, rgb(169, 169, 169, 0.4));
  border-radius: 10px;
}

.skillsBox {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  justify-content: space-around;
}

.skills .container span {
  text-align: center;
}