.skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 80%;
  margin-bottom: 30px;
  background: radial-gradient(rgb(13, 12, 26) 30%, rgb(169, 169, 169, 0.4));
  border-radius: 10px;
}

.skillsBox {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(252, 32, 179)
}

.skills .container span {
  text-align: center;
}

@media ( min-width: 530px) {
  .skillsBox {
    justify-content: space-around;
  }
}

/* @media ( min-width: 1181px) {
  .skillsBox {
    justify-content: space-between;
  }
} */