.myProjects {
    min-height: 50vh;
    background-color: rgb(255, 213, 122);
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.projectsContainer {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    border: 1px solid white;
}

.header {
    align-self: center;
    font-size: 25px;
    background-color: gainsboro;
    margin: 10px;
}

@media (min-width: 568px) {
    .projectsContainer {
        justify-content: space-around;
    }
}

@media (min-width: 1133px) {
    .projectsContainer {
        justify-content: space-between;
    }
}

