.myProjects {
    display: flex;
    justify-content: center;
    background: radial-gradient(rgb(13, 12, 26) 30%, rgb(169, 169, 169, 0.4)), url(https://d2hhj3gz5jljkm.cloudfront.net/416/144ec/1b00/4ebe/a379/522ac5d5b56a/original/98981.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 30px;
}

.projectsContainer {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    border: 1px solid white;
}


@media (min-width: 568px) {
    .projectsContainer {
        justify-content: space-around;
    }
}

@media (min-width: 1133px) {
    .projectsContainer {
        justify-content: space-between;
    }
}

