.myProjects {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 30px;
    background: radial-gradient(rgb(13, 12, 26) 30%, rgb(169, 169, 169, 0.4));
    border-radius: 10px;
    border: 1px solid black;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
}


@media (min-width: 568px) {
    .projectsContainer {
        justify-content: space-around;
    }
}

/* @media (min-width: 1133px) {
    .projectsContainer {
        justify-content: space-between;
    }
} */

