.title {
    align-self: center;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-shadow: 6px 6px 8px rgba(197, 184, 184, 0.5);
    margin: 30px;
    margin-top: 50px;
}

.title:after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    margin: .5em auto;
}

.theme_blue::after{
    background-color: rgb(27, 212, 252);
}

.theme_darkRed::after {
    background-color: rgb(200, 0, 139);
}

.theme_green::after {
    background-color: rgb(48, 254, 118);
}

.theme_maroon::after {
    background-color: rgb(255, 0, 237);
}

.theme_violet::after {
    background-color: rgb(166, 104, 255);
}

