.title {
    align-self: center;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-shadow: 6px 6px 8px rgba(197, 184, 184, 0.5);
    margin: 30px;
    margin-top: 50px;
}

.title:after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    margin: .5em auto;
    background-color: rgb(200, 0, 139);
}