.greetingPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
}

.greeting {
  text-decoration: none;
  font-family: 'Caveat', cursive;
  font-weight: 400;
  text-align: center;
  color: white;
  margin-left: 20px;
}

