.footer {
  bottom: 0;
  background-color: rgb(55, 51, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.footerSPA {
  position: fixed;
  width: 100%;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}

.linksBox {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.linksBox a {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.name {
  margin: 0 15px;
  text-align: center;
  width: 200px;
}

.copyright {
  text-align: center;
  margin: 0 15px;
  max-width: 200px;
}

@media ( max-width: 790px) {
  .linksBox {
    margin: 0;
  }
  .name,
  .copyright {
    font-size: 0.8em;
  }
}

@media ( max-width: 400px) {
  .copyright.ruLang,
  .name.ruLang {
    display: none;
  }
}

@media ( max-width: 479px) {
  .copyright.enLang,
  .name.enLang {
    display: none;
  }
}