.footer {
  background-color: rgb(55, 51, 60);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media ( max-width: 774px ) {
  .container {
    flex-direction: column;
  }
}

.linksBox {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.link {
  background-color: gainsboro;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  margin: 10px 5px;
  width: 40px;
  height: 40px;
}


.name {
  background-color: gainsboro;
  margin: 0 15px;
}

.copyright {
  background-color: gainsboro;
  text-align: center;
  margin: 0 15px;
}