.app {
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.errorsBox {
    position: fixed;
    top: 70px;
    right: 20px;
}

.displaySPA {
    margin-bottom: 40px;
}

.theme_blue {
    background-color: rgb(22, 64, 142);
    background-image: url(./Assets/Images/ColorThemes/neuro-blue.webp);
}

.theme_darkRed {
    background-color: rgb(42, 17, 35);
    background-image: url(./Assets/Images/ColorThemes/neuro-darkRed.webp);
}

.theme_green {
    background-color: rgb(46, 177, 122);
    background-image: url(./Assets/Images/ColorThemes/neuro-green.webp);
}

.theme_maroon {
    background-color: rgb(114, 56, 110);
    background-image: url(./Assets/Images/ColorThemes/neuro-maroon.webp);
}

.theme_violet {
    background-color: rgb(33, 0, 82);
    background-image: url(./Assets/Images/ColorThemes/neuro-violet.webp);
}