.app {
    height: 100vh;
    background-image: url(https://d2hhj3gz5jljkm.cloudfront.net/416/144ec/1b00/4ebe/a379/522ac5d5b56a/original/98981.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.displaySPA {
    margin-bottom: 40px;
}